.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.banner {
  position: relative;
	img {
		width: 100%;
		max-height: 480px;
		object-fit: cover;
		object-position: center;
	}
}

.box-shadow {
	box-shadow: -3px 0 9px rgba(0,0,0,0.12);
}

.post-categoria {
	font-size: 12px;
	color: $blue;
	text-decoration: none;
}

.grid-posts {
	background-color: $white;
	.content {
		padding: 25px 30px;
	}
}