.search-form {
  align-items: center;
  background-color: $white;
  border: 1px solid $grey-neutral;
  border-radius: 50px;
  display: flex;
  line-height: 15px;
  margin: 0 10px 0 0;
  max-width: 350px;
  padding: 0 12px;
  width: 100%;

  label {
    width: 100%;
  }

  .search-field {
    border: none;
    color: $grey-light;
    font-size: 14px;
    padding: 0;
    line-height: 23px;
    outline: none;
    width: 100%;
  }

  .search-submit {
    border: 0;
    background: none;
    padding: 0 5px;
  }

}

.search-filter {
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 15px;
      padding: 0;

      select {
        background: url(assets/img/arrow-down.svg) no-repeat 95% $white;
        border: 0;
        border-radius: 30px;
        font-size: 14px;
        line-height: 18px;
        outline: none;
        overflow: hidden;
        overflow: -moz-hidden-unscrollable;
        padding: 14px 30px;
        width: 100%;
        -webkit-appearance: none;
      }

      input[type="text"] {
        background: url(assets/img/search-icon.svg) no-repeat 95% $white;
        border: 0;
        border-radius: 30px;
        font-size: 14px;
        line-height: 18px;
        outline: none;
        overflow: hidden;
        overflow: -moz-hidden-unscrollable;
        padding: 14px 30px;
        width: 100%;
        -webkit-appearance: none;
      }

      input[type="submit"] {
        background-color: $blue;
        border: 0;
        border-radius: 30px;
        color: $white;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        padding: 14px 30px;
        transition: 0.3s all;
        width: 100%;

        &:hover {
          background-color: $black-neutral;
        }
      }
    }
  }
}