button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn-shop {
  background: $blue;
  border: 0;
  border-radius: 13px;
  color: $white !important;
	display: inline-block;
  font-weight: 700;
  line-height: 25px;
  min-width: 80px;
  padding: 0 0.75rem;
  text-align: center;
	text-decoration: none;
}